In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

degree_jobs_cleaned = pd.read_csv("degree_jobs_cleaned.csv")
degree_jobs_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_id             759 non-null    int64
 1   job_title          759 non-null    object
 2   salary_usd         759 non-null    int64
 3   employment_type    759 non-null    object
 4   company_location   759 non-null    object
 5   is_remote          759 non-null    bool
 6   employee_location  759 non-null    object
 7   job_skills         759 non-null    object
 8   degree_required    759 non-null    object
 9   posting_date       759 non-null    object
 10  company_name       759 non-null    object
 11  has_target         759 non-null    bool
 12  salary_tier        759 non-null    object
 13  degree_flag        759 non-null    object
dtypes: bool(2), int64(2), object(10)
memory usage: 72.8+ KB

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

no_degree_jobs_cleaned = pd.read_csv("no_degree_jobs_cleaned.csv")
no_degree_jobs_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1184 entries, 0 to 1183
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_id             1184 non-null   int64
 1   job_title          1184 non-null   object
 2   salary_usd         1184 non-null   int64
 3   employment_type    1184 non-null   object
 4   company_location   1184 non-null   object
 5   is_remote          1184 non-null   bool
 6   employee_location  1184 non-null   object
 7   job_skills         1184 non-null   object
 8   degree_required    1184 non-null   bool
 9   posting_date       1184 non-null   object
 10  company_name       1184 non-null   object
 11  salary_tier        1184 non-null   object
 12  has_target         1184 non-null   bool
 13  degree_flag        1184 non-null   object
dtypes: bool(3), int64(2), object(9)
memory usage: 105.3+ KB

In [34]:
degree_jobs_cleaned['employment_type'].value_counts()

employment_type
PT    198
CT    190
FT    186
FL    185
Name: count, dtype: int64

In [35]:
no_degree_jobs_cleaned['employment_type'].value_counts()

employment_type
Full-time                   1089
Contractor                    62
Full-time and Part-time       15
Part-time                      5
Full-time and Temp work        4
Temp work                      4
Full-time and Per diem         2
Full-time and Contractor       2
Contractor and Temp work       1
Name: count, dtype: int64

In [ ]:
# Map abbreviations to full strings for consistency
mapping = {
    "FT": "Full-time",
    "FL": "Full-time",  
    "PT": "Part-time",
    "CT": "Contractor"
}
degree_jobs_cleaned['employment_type'] = degree_jobs_cleaned['employment_type'].map(mapping)

In [ ]:
# Simplify mixed types and collapse into a primary category for consistency
collapse_map = {
    "Full-time and Part-time": "Full-time",
    "Full-time and Temp work": "Full-time",
    "Full-time and Per diem": "Full-time",
    "Full-time and Contractor": "Full-time",
    "Contractor and Temp work": "Contractor"
}
no_degree_jobs_cleaned['employment_type'] = no_degree_jobs_cleaned['employment_type'].replace(collapse_map)

In [38]:
print(degree_jobs_cleaned['employment_type'].unique())

['Contractor' 'Part-time' 'Full-time']

In [39]:
print(no_degree_jobs_cleaned['employment_type'].unique())

['Full-time' 'Contractor' 'Part-time' 'Temp work']

In [41]:
# Unified mapping
categories = ['Full-time', 'Part-time', 'Contractor', 'Temp work']