In [2]:
import pandas as pd
import matplotlib.pyplot as plt

ai_data_jobs = pd.read_csv("ai_jobs_dataset.csv")
ai_data_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  15000 non-null  object
 1   job_title               15000 non-null  object
 2   salary_usd              15000 non-null  int64
 3   salary_currency         15000 non-null  object
 4   experience_level        15000 non-null  object
 5   employment_type         15000 non-null  object
 6   company_location        15000 non-null  object
 7   company_size            15000 non-null  object
 8   employee_residence      15000 non-null  object
 9   remote_ratio            15000 non-null  int64
 10  required_skills         15000 non-null  object
 11  education_required      15000 non-null  object
 12  years_experience        15000 non-null  int64
 13  industry                15000 non-null  object
 14  posting_date            15000 non-null  object
 15  application_deadline    15000 non-null  object
 16  job_description_length  15000 non-null  int64
 17  benefits_score          15000 non-null  float64
 18  company_name            15000 non-null  object
dtypes: float64(1), int64(4), object(14)
memory usage: 2.2+ MB

In [3]:
# Count missing values per column
print(ai_data_jobs.isnull().sum())

job_id                    0
job_title                 0
salary_usd                0
salary_currency           0
experience_level          0
employment_type           0
company_location          0
company_size              0
employee_residence        0
remote_ratio              0
required_skills           0
education_required        0
years_experience          0
industry                  0
posting_date              0
application_deadline      0
job_description_length    0
benefits_score            0
company_name              0
dtype: int64

In [4]:
# Find how many Data Analyst jobs are in the job_title column
data_analyst_count = ai_data_jobs[ai_data_jobs['job_title'] == 'Data Analyst'].shape[0]
print(f"Number of 'Data Analyst' roles: {data_analyst_count}")

Number of 'Data Analyst' roles: 759

In [5]:
# Define the columns to keep
columns_to_keep = [
    'job_title', 'salary_usd', 'employment_type', 'company_location', 'remote_ratio',
    'employee_residence', 'required_skills', 'education_required', 'posting_date', 'company_name'
]

# Create new ai_data_analyst_df with columns to keep
ai_data_jobs = ai_data_jobs[columns_to_keep]
print(ai_data_jobs.columns)

Index(['job_title', 'salary_usd', 'employment_type', 'company_location',
       'remote_ratio', 'employee_residence', 'required_skills',
       'education_required', 'posting_date', 'company_name'],
      dtype='object')

In [6]:
ai_data_jobs = ai_data_jobs.rename(columns={
    'remote_ratio': 'is_remote',
    'employee_residence': 'employee_location',
    'required_skills': 'job_skills',
    'education_required': 'degree_required'
})
print(ai_data_jobs.columns)

Index(['job_title', 'salary_usd', 'employment_type', 'company_location',
       'is_remote', 'employee_location', 'job_skills', 'degree_required',
       'posting_date', 'company_name'],
      dtype='object')

In [7]:
# Created new df name to highlight data analyst jobs with degree's 
degree_jobs = ai_data_jobs.copy()

In [8]:
degree_jobs.head()

,job_title,salary_usd,employment_type,company_location,is_remote,employee_location,job_skills,degree_required,posting_date,company_name
0,AI Research Scientist,90376,CT,China,50,China,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,2024-10-18,Smart Analytics
1,AI Software Engineer,61895,CT,Canada,100,Ireland,"Deep Learning, AWS, Mathematics, Python, Docker",Master,2024-11-20,TechCorp Inc
2,AI Specialist,152626,FL,Switzerland,0,South Korea,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2025-03-18,Autonomous Tech
3,NLP Engineer,80215,FL,India,50,India,"Scala, SQL, Linux, Python",PhD,2024-12-23,Future Systems
4,AI Consultant,54624,PT,France,100,Singapore,"MLOps, Java, Tableau, Python",Master,2025-04-15,Advanced Robotics