## Load and Inspect the Dataset

To begin the analysis, I import the necessary library (`pandas`) and load the dataset into a DataFrame.  
Calling `.info()` provides a quick overview of the dataset’s structure, including column names, data types, and the presence of any missing values. This establishes a clear starting point for the cleaning and exploration steps that follow.

In [1]:
import pandas as pd

ai_data_jobs = pd.read_csv("ai_jobs_dataset.csv")
ai_data_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  15000 non-null  object
 1   job_title               15000 non-null  object
 2   salary_usd              15000 non-null  int64
 3   salary_currency         15000 non-null  object
 4   experience_level        15000 non-null  object
 5   employment_type         15000 non-null  object
 6   company_location        15000 non-null  object
 7   company_size            15000 non-null  object
 8   employee_residence      15000 non-null  object
 9   remote_ratio            15000 non-null  int64
 10  required_skills         15000 non-null  object
 11  education_required      15000 non-null  object
 12  years_experience        15000 non-null  int64
 13  industry                15000 non-null  object
 14  posting_date            15000 non-null  object
 15  application_deadline    15000 non-null  object
 16  job_description_length  15000 non-null  int64
 17  benefits_score          15000 non-null  float64
 18  company_name            15000 non-null  object
dtypes: float64(1), int64(4), object(14)
memory usage: 2.2+ MB

### Count Missing Values

Before cleaning the dataset, I check for missing values in each column.  
This dataset is pretty clean. There are no nulls or missing values in any of the columns.

In [2]:
# Count missing values per column
print(ai_data_jobs.isnull().sum())

job_id                    0
job_title                 0
salary_usd                0
salary_currency           0
experience_level          0
employment_type           0
company_location          0
company_size              0
employee_residence        0
remote_ratio              0
required_skills           0
education_required        0
years_experience          0
industry                  0
posting_date              0
application_deadline      0
job_description_length    0
benefits_score            0
company_name              0
dtype: int64

### Count the Number of Data Analyst Roles

To understand how common Data Analyst positions are within this dataset, I filter the `job_title` column for entries labeled **"Data Analyst"** and count the number of matching rows. This provides a quick snapshot of how frequently this specific role appears compared to other job titles in the dataset.

In [3]:
# Find how many Data Analyst jobs are in the job_title column
data_analyst_count = ai_data_jobs[ai_data_jobs['job_title'] == 'Data Analyst'].shape[0]
print(f"Number of 'Data Analyst' roles: {data_analyst_count}")

Number of 'Data Analyst' roles: 759

### Select Relevant Columns for Analysis

These columns include information about each job posting relevant for analysis, while removing unnecessary information. This step helps simplify the analysis and ensures that all subsequent operations are performed on a clean, well‑structured dataset.

In [4]:
# Define the columns to keep
columns_to_keep = [
    'job_title', 'salary_usd', 'employment_type', 'company_location', 'remote_ratio',
    'employee_residence', 'required_skills', 'education_required', 'posting_date', 'company_name'
]

# Create new ai_data_analyst_df with columns to keep
ai_data_jobs = ai_data_jobs[columns_to_keep]
print(ai_data_jobs.columns)

Index(['job_title', 'salary_usd', 'employment_type', 'company_location',
       'remote_ratio', 'employee_residence', 'required_skills',
       'education_required', 'posting_date', 'company_name'],
      dtype='object')

### Rename Columns for Clarity and Consistency

To improve readability and ensure consistent naming throughout the analysis, I rename several columns in the dataset. These updated names provide clearer descriptions of each column, for example, changing `remote_ratio` to `is_remote` and `employee_residence` to `employee_location`. This step helps standardize the dataset and makes future analysis, filtering, and visualization more intuitive.

In [5]:
ai_data_jobs = ai_data_jobs.rename(columns={
    'remote_ratio': 'is_remote',
    'employee_residence': 'employee_location',
    'required_skills': 'job_skills',
    'education_required': 'degree_required'
})
print(ai_data_jobs.columns)

Index(['job_title', 'salary_usd', 'employment_type', 'company_location',
       'is_remote', 'employee_location', 'job_skills', 'degree_required',
       'posting_date', 'company_name'],
      dtype='object')

### Create a Working Copy for Degree‑Focused Analysis

To analyze how educational requirements impact Data Analyst roles, I create a separate copy of the cleaned dataset. This new DataFrame (`degree_jobs`) allows me to focus specifically on degree‑related patterns without modifying the original dataset used for broader analysis.

In [6]:
# Created new df name to highlight data analyst jobs with degree's 
degree_jobs = ai_data_jobs.copy()

### Count Job Titles in the Dataset

To understand the distribution of roles within this subset of the data, I generate a frequency count of all job titles. This helps identify which positions appear most often and provides a quick overview of how the dataset is structured in terms of job role representation.

In [7]:
degree_jobs['job_title'].value_counts()

job_title
Machine Learning Researcher    808
AI Software Engineer           784
Autonomous Systems Engineer    777
Machine Learning Engineer      772
AI Architect                   771
Head of AI                     765
NLP Engineer                   762
Robotics Engineer              759
Data Analyst                   759
AI Research Scientist          756
Data Engineer                  749
AI Product Manager             743
Research Scientist             742
Principal Data Scientist       734
AI Specialist                  728
ML Ops Engineer                725
Computer Vision Engineer       724
Data Scientist                 720
Deep Learning Engineer         718
AI Consultant                  704
Name: count, dtype: int64

### Filter the Dataset for Data Analyst Roles

To focus the analysis specifically on Data Analyst positions, I filter the dataset to include only rows where the `job_title` is **"Data Analyst"**. This creates a targeted subset of the data that allows for more accurate exploration of salary trends, required skills, and other characteristics relevant to this role.

In [8]:
degree_jobs = degree_jobs[degree_jobs['job_title'] == 'Data Analyst']
degree_jobs.head()

,job_title,salary_usd,employment_type,company_location,is_remote,employee_location,job_skills,degree_required,posting_date,company_name
8,Data Analyst,160710,CT,Singapore,0,Singapore,"Hadoop, Git, Mathematics, Python",PhD,2024-11-04,Quantum Computing Inc
27,Data Analyst,52997,PT,Austria,0,Singapore,"Mathematics, Kubernetes, TensorFlow, Tableau, ...",PhD,2025-01-10,Predictive Systems
80,Data Analyst,157597,CT,France,50,France,"Git, Kubernetes, TensorFlow, R, Java",Bachelor,2024-08-31,Neural Networks Co
91,Data Analyst,97997,CT,France,50,France,"Hadoop, Python, TensorFlow, R, Statistics",PhD,2024-06-19,Algorithmic Solutions
96,Data Analyst,109029,FT,France,0,France,"Kubernetes, Scala, Java",Bachelor,2025-04-05,Predictive Systems

In [9]:
degree_jobs['job_skills'].value_counts()

job_skills
Python, TensorFlow, Data Visualization    3
Python, TensorFlow, PyTorch               2
Linux, AWS, Azure                         2
Linux, Python, NLP                        2
Linux, SQL, Python, Hadoop                2
                                         ..
TensorFlow, Azure, SQL, Tableau           1
Python, Java, Tableau, Deep Learning      1
Spark, Linux, Docker                      1
R, Tableau, Git, Python, Java             1
Python, Kubernetes, Scala, Linux          1
Name: count, Length: 753, dtype: int64

In [10]:
degree_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 759 entries, 8 to 14982
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_title          759 non-null    object
 1   salary_usd         759 non-null    int64
 2   employment_type    759 non-null    object
 3   company_location   759 non-null    object
 4   is_remote          759 non-null    int64
 5   employee_location  759 non-null    object
 6   job_skills         759 non-null    object
 7   degree_required    759 non-null    object
 8   posting_date       759 non-null    object
 9   company_name       759 non-null    object
dtypes: int64(2), object(8)
memory usage: 65.2+ KB

In [11]:
# Convert job_skills in degree_jobs to a list

degree_jobs['job_skills'] = degree_jobs['job_skills'].apply(lambda x: [skill.strip() for skill in x.split(',')])

In [12]:
target_skills = {'Python', 'SQL', 'Tableau'}

def has_target_skills(skills):
    return any(skill in target_skills for skill in skills)

degree_jobs['has_target'] = degree_jobs['job_skills'].apply(has_target_skills)
print(degree_jobs.columns)

Index(['job_title', 'salary_usd', 'employment_type', 'company_location',
       'is_remote', 'employee_location', 'job_skills', 'degree_required',
       'posting_date', 'company_name', 'has_target'],
      dtype='object')

In [13]:
print(degree_jobs['has_target'].value_counts())

has_target
True     436
False    323
Name: count, dtype: int64

In [14]:
degree_jobs['company_name'].value_counts()

company_name
Cloud AI Solutions            67
Predictive Systems            52
Cognitive Computing           50
DataVision Ltd                49
Algorithmic Solutions         48
Future Systems                48
Neural Networks Co            48
Quantum Computing Inc         47
TechCorp Inc                  47
Autonomous Tech               46
Advanced Robotics             44
Digital Transformation LLC    43
DeepTech Ventures             43
AI Innovations                43
Smart Analytics               42
Machine Intelligence Group    42
Name: count, dtype: int64

In [15]:
degree_jobs['degree_required'].value_counts()

degree_required
Bachelor     208
Master       202
PhD          175
Associate    174
Name: count, dtype: int64

In [16]:
# Function to put salary into tiers for better visualizations later
def categorize_salary(df: pd.DataFrame, salary_column: str) -> pd.DataFrame:
    """
    Categorizes salaries into income tiers: 'Low', 'Mid', or 'High' based on defined thresholds.

    Args:
        df (pd.DataFrame): The DataFrame containing a salary column as integers.
        salary_column (str): The name of the column with salary values (e.g., 'salary_usd').

    Returns:
        pd.DataFrame: The modified DataFrame with a new 'salary_tier' column.
    """
    bins = [0, 50000, 100000, float('inf')]
    labels = ['Low', 'Mid', 'High']
    df['salary_tier'] = pd.cut(df[salary_column], bins=bins, labels=labels, include_lowest=True)
    return df

In [17]:
degree_jobs = categorize_salary(degree_jobs, 'salary_usd')
degree_jobs[['salary_usd', 'salary_tier']].head()

    salary_usd salary_tier
8       160710        High
27       52997         Mid
80      157597        High
91       97997         Mid
96      109029        High

In [18]:
print(degree_jobs['is_remote'].unique())

[  0  50 100]

In [19]:
degree_jobs['is_remote'] = degree_jobs['is_remote'] > 0
print(degree_jobs['is_remote'].head())

8     False
27    False
80     True
91     True
96    False
Name: is_remote, dtype: bool

In [20]:
degree_jobs['is_remote'].value_counts()

is_remote
True     505
False    254
Name: count, dtype: int64

In [21]:
degree_jobs['employee_location'].value_counts()

employee_location
France            54
Israel            48
Austria           46
Netherlands       45
Ireland           41
Singapore         41
Sweden            40
Australia         40
Germany           37
Norway            37
United Kingdom    37
Switzerland       36
India             36
Finland           36
Denmark           35
United States     34
South Korea       33
Japan             31
China             27
Canada            25
Name: count, dtype: int64

In [22]:
degree_jobs['employment_type'].value_counts()

employment_type
PT    198
CT    190
FT    186
FL    185
Name: count, dtype: int64

In [23]:
degree_jobs['posting_date'].head()

8     2024-11-04
27    2025-01-10
80    2024-08-31
91    2024-06-19
96    2025-04-05
Name: posting_date, dtype: object

In [24]:
# Create index and job id column
degree_jobs = degree_jobs.reset_index().rename(columns={'index': 'job_id'})

In [25]:
# Add degree_flag
degree_jobs['degree_flag'] = 'degree required'
degree_jobs.columns

Index(['job_id', 'job_title', 'salary_usd', 'employment_type',
       'company_location', 'is_remote', 'employee_location', 'job_skills',
       'degree_required', 'posting_date', 'company_name', 'has_target',
       'salary_tier', 'degree_flag'],
      dtype='object')

In [26]:
degree_jobs['degree_flag'].value_counts()

degree_flag
degree required    759
Name: count, dtype: int64

In [27]:
# Save cleaned DataFrame to CSV
degree_jobs.to_csv("degree_jobs_cleaned.csv", index=False)